<main class="main">
  <div class="inner">
    <%if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.name}さん", root_path, class: :greeting__link%>
        <%= "がログイン中です!!" %>
      </div> 
    <%end%>
    <div class="card__wrapper">
      <%= render partial: 'builder', collection:@builders %>
    </div>
  </div>
</main>
